@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section style="height: 100%; padding: 20px 20px">
    <form method="post" style="height: 100%" id="frm" action="@Url.Action("Send","Support")">
        <h4>Your Name:</h4>
        <div class="ui input">
            <input type="text" placeholder="" id="Name" name="Name">
        </div> <br />

        <h4>Your Email:</h4>
        <div class="ui input">
            <input type="text" placeholder="" id="Email" name="Email">
        </div><br />

        <h4 style="height: 100%">Your Message:</h4>
        <textarea style="height: 100%; width: 100%;" name="Text" form="frm"></textarea> <br />
        <input id="Button" type="submit" />
    </form>


</section>
