@{
    ViewBag.Title = "auth";
}

@{
    ViewBag.Title = "Index";
}



<section id="InputForm" class="InputForm">

    <h2 class="Font text-center text-sm-center text-md-center text-lg-center">Welcom to Push Notification App</h2>

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-col">
                    
                    <center>



                        <i class="fas fa-bell ok"></i> <h4 class="Text"> Please, Enter Via Shopify  </h4>


                       
                    </center>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-col">
                    <center>

                        <i class="fas fa-user user"></i> <h4 class="Text"> Enter Via Shopify</h4>

                        
                    </center>
                </div>
            </div>
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="custom-col">
                    <center><i class="fas fa-mobile-alt mob"></i> <h4 class="Text"> One To All</h4> </center>
                </div>
            </div>

        </div>
    </div>

</section>
