@model List<ShopifySharp.Customer>
@{
    ViewBag.Title = "IndexAsync";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h3>Send Free SMS Notifications</h3>
            <hr />
        </div>
        <div class="col-lg-12">
            <form action="@Url.Action("SendSMS","Send")" method="post">
                <div class="row">
                    <div class="col-lg-12">
                        <label style="font-weight: bold">Phone Numbers: @Model.Count</label>
                    </div>
                    <div class="col-lg-12">
                        <label style="margin-top: 10px;">Your Message:</label><br />
                        <textarea class="text" name="text"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="Button">Send</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>



